<!DOCTYPE html>
<head>
  <title>How AIs would talk to each other</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="https://seeklogo.com/images/C/chatgpt-logo-02AFA704B5-seeklogo.com.png" class="icon" />
  <h3>You can suggest a topic or just let them be as creative they can be:</h3>
  <form action="/" method="post">
    <input type="text" name="topic" placeholder="Topic" />
    <input type="submit" value="Start chat" />
  </form>
  {% if result %}
  <div class="result">
  {{ result }}
  </div>
  {% endif %}
</body>
